    <div class="help-system">
        <section title="Welcome!">
            <h3>Welcome to PlexCMS Admin</h3>
            <p>Here you can:</p>
            <ul>
                <li>View Installed Layouts, and Set a Default Layout</li>
                <li>Reorder Sections in a Layout</li>
                <li>Configure Default Modules</li>
                <li>Create, Edit and Remove Modules</li>
                <li>Create, Edit and Remove Pages</li>
                <li>Customize Modules for each Page</li>
                <li>Create, Edit and Remove Media</li>
            </ul>
            <p>
                To begin, locate and select an option to the left.
            </p>
            <div class="info-box">
                <p>Although available to the public, this project is considered pre-alpha stage. The intent is to gather community feedback.</p>
                <p>Most of the current code will be redone before a <em>beta</em> release is published. You will find ugly code in the meantime.</p>
            </div>
        </section>
        <section title="For Developers">
            <h3>For Developers</h3>
            <ul>
                <li><span class="tag">[FUTURE]</span> How-To: Localize Content</li>
                <li><span class="tag">[FUTURE]</span> How-To: Implement Controllers</li>
                <li><span class="tag">[FUTURE]</span> How-To: Integrate Source Control</li>
            </ul>
        </section>
        <section title="About..">
            <h3>About PlexCMS</h3>
            <p>PlexCMS began as a simple Content Management System with the following goals:</p>
            <ul>
                <li>
                    <strong>Embrace and Extend the MVC Framework</strong> - There are no complex APIs to understand nor integrate with to provide your customer with CMS functionality. If you understand the ASP.NET MVC Framework, C# and Razor syntax you will immediately be able to use PlexCMS.
                </li>
                <li>
                    <strong>Prefer Convention over Code</strong> - No need for 'yet another database', no messy configuration files, and no code-writing is required to incorporate PlexCMS into existing MVC Applications.
                </li>
                <li>
                    <strong>Release via NuGet</strong> - PlexCMS is not distributed via WebMatrix, nor Web PI, the primary method of distribution is NuGet. NuGet provides the workflow necessary to deliver PlexCMS for both new and existing MVC applications.
                </li>
                <li>
                    <strong>Provide a Non-Entrenching Solution</strong> - KISS (Keep It Simple Stupid); The motto backing the code. If it's not necessary, it's not going to release. If we do something that would dramatically change the ASP.NET MVC experience, it's not going to release.
                </li>
            </ul>
        </section>
    </div>
