    <a href="https://github.com/wilson0x4d/PlexCMS/blob/master/Plex/README.TXT" target="_blank">License</a> | Copyright &copy; @DateTime.Now.Year <a href="http://mrshaunwilson.com/">Shaun Wilson</a>
